{% load static %}

 <head>
     <meta charset="utf-8">
     <META NAME="KEYWORDS" CONTENT="поиск книг, поиск книги, найти книгу, книга, книги, поиск, book, books, find, search, книги, магазин, литература, библиотека">
     <META NAME="DESCRIPTION" content="Специализированная система для поиска и рекомендации книг.">
     <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" />
     <link href="{% static 'main/images/favicon.ico' %}" rel="shortcut icon">
     <title>pickabook - Поиск книг</title>
 </head>
<body>
