{% load static %}
{% include "main/header.html" %}

<div class="top-name-block">

    <div class="top-name">
        Персональные рекомендации
    </div>

</div>

{% for book in personal %}
    <div class="top-book-block">
        <div class="top-book">
            <div class="top-book-cover">
                <a href="{% url 'book_url' book_id=book.id %}"><img src='{% static book.cover %}' width="80" height="120"></a>
            </div>
            <div class="top-book-title">
                <a href="{% url 'book_url' book_id=book.id %}">{{ book.title }}</a>
            </div>
            <div class="top-book-author">
                {{ book.author }}
            </div>
            <div class="top-book-rating">
                Рейтинг: {{ book.rating }}
            </div>
            {# Оберни кнопки красиво, сделай cursor: pointer #}
            <div class="top-book-buttons">
                <div class="top-book-button show-description">
                    Развернуть описание
                </div>
                <div class="top-book-button hide-description" hidden>
                    Свернуть описание
                </div>
            </div>
            {# С тебя красивые кнопочки #}
            <div class="top-book-recommendation-buttons">
                <div class="book-id" hidden>{{ book.id }}</div>
                Оцените рекоммендацию:
                <div class="top-book-recommendation-button recommendation-positive">
                    Понравилась
                </div>
                <div class="top-book-recommendation-button recommendation-negative">
                    Не понравилась
                </div>
            </div>
            <div class="top-book-recommendation-done" hidden>Спасибо за ваш отзыв</div>
        </div>
        {# Добавь стиль для описания #}
        <div class="top-book-description" style="display: none">{{ book.description }}</div>
    </div>
{% endfor %}
<script>
    function getCSRF() {
        return '{{ csrf_token }}'
    }
</script>
{% include "main/footer.html" %}
