{% load static %}
{% include "main/header.html" %}

<div class="top-name-block">

    <div class="top-name">
        <a>{{ top.title }}</a>
    </div>

</div>

{% for book in top.books %}
    <div class="top-book-block">
        <div class="top-book">
            <div class="top-book-cover">
                <a href="{% url 'book_url' book_id=book.id %}"><img src='{{ book.cover }}' width="80" height="120"> </a>
            </div>
            <div class="top-book-title">
                <a href="{% url 'book_url' book_id=book.id %}">{{ book.title }}</a></div>
            <div class="top-book-author">
            <a href="#">{{ book.author}}</a>
            </div>
            <div class="top-book-rating">
                <a>Рейтинг: {{ book.rating }}</a></div>
            </div>
        <div class="top-book-desription">{{ book.desription }} </div>
        </div>

    </div>
{% endfor %}

